[2018-11-16 15:25] TysonAndre opened #1 "`@psalm-assert =T $actual` causes uncaught Psalm\Exception\TypeParseTreeException: Unexpected token ="
1. The annotation should be fixed in stubs/Assert.php
2. Psalm should be changed to warn but not crash

[2018-11-16 16:10] muglug commented on #1
I think this is fixed? Psalm was updated around the same time (but this isn't released yet, so it'll have a couple of teething problems)

[2018-11-16 16:10] #1 closed

[2018-11-16 16:17] muglug commented on #1
This was the fix: https://github.com/vimeo/psalm/commit/08d99402598ea8a35b2d6fc2e6453e3d0897a0eb

Though this was broken (and thus broke Psalm's build because it used the third arg) until I added the message arg in https://github.com/psalm/phpunit-psalm-plugin/commit/6a387da8e2f7fda6cd6c6ebe990be49bdb1b7e1d

[2018-11-16 16:20] muglug commented on #1
For future reference, I decided to change `^` to `=` because I think the latter makes more sense in documentation (and the 3.x change gave an opportunity for a break, in case anyone was using `@psalm-assert ^MyClass`

[2018-11-27 11:29] weirdan opened #2 "MockObject::method() return type"
https://github.com/psalm/phpunit-psalm-plugin/blob/5fd3db0c48c208a49b008561c27d83d1d319e3ad/stubs/MockBuilder.php#L49

In PHPUnit 7.4 (probably all 7.x series) this returns `PHPUnit\Framework\MockObject\Builder\InvocationMocker`, not `static`. What PHPUnit version you were basing stubs on?

[2018-11-28 05:42] muglug commented on #2
I'm basing it on PHPUnit 7.

It doesn't return `InvocationMocker`, AFAICT. I think `MockObject::method` is declared here: https://github.com/sebastianbergmann/phpunit-mock-objects/blob/f9756fd4f43f014cb2dca98deeaaa8ce5500a36e/src/Generator/mocked_class_method.tpl.dist

That method makes a call to `InvocationMocker`, but the result of the method call is still a `MockObject`.

That allows the follow

[2018-11-28 05:42] #2 closed

[2018-12-01 01:13] weirdan commented on #2
Empirically:

[code]

Theoretically:
* The method you mentioned calls `$this->expects(new \PHPUnit\Framework\MockObject\Matcher\AnyInvokedCount)->method()` passing down all the arguments
* Expanding `$this->expects()` (defined here: https://github.com/sebastianbergmann/phpunit-mock-objects/blob/f9756fd4f43f014cb2dca98deeaaa8ce5500a36e/src/Generator/mocked_class.tpl.dist#L9 ) results in `$this->__p

[2018-12-01 01:17] weirdan commented on #2
[code]

[2018-12-01 17:44] muglug commented on #2
I was very wrong and you were very right. Thanks for taking the time to research and fix.

[2018-12-10 11:30] weirdan opened #5 "Support 7.5 methods"
https://github.com/sebastianbergmann/phpunit/blob/master/ChangeLog-7.5.md

Psalm could provide type assertions for `assertIs*` methods.

This raises the question of how to support version-dependent stubs.

[2018-12-10 11:33] weirdan opened #6 "New release"
There's been quite a few changes since last release, could we have a new one?

The draft release is already there, please take a look.

[2018-12-10 16:38] muglug commented on #6
Done, thanks!

[2018-12-10 16:38] #6 closed

[2019-01-26 12:40] SignpostMarv opened #7 "TestCase::assertTrue(is_a(str, str, true)), TestCase::assertInstanceOf() & TypeCoercion, InvalidStringClass"
How cumbersome would it be for this plugin to decorate the variables being asserted with appropriate flags?

i.e. `TestCase::assertInstanceOf(class-string, $foo)` prior to `Bar($foo)` where the method signature is `Bar(WhateverTheClassStringWasInTheAssertion $obj)` and `$foo` is of type `WhateverTheClassStringWasInTheAssertion|null` results in `Argument ` of Bar cannot be null, possibly null value

[2019-01-26 12:42] SignpostMarv commented on #7
oh, p.s.; when a test calls a method that has a return signature of `T|null`, assertions "prove" it to be `T`, then the variable is passed to a method that accepts only `T` and not `T|null`, we get a `PossiblyNullArgument`.

[2019-01-27 05:11] weirdan commented on #7
`assertInstanceOf` works for me just like you say you want it to:
![image](https://user-images.githubusercontent.com/57403/51796811-bfd17e00-2201-11e9-8fde-672e84f5f27d.png)

As a sanity check, are you sure you have this plugin installed and enabled? What does `psalm-plugin` show?

This I can confirm.

Isn't it the same as your first problem?

[2019-01-27 12:48] SignpostMarv commented on #7
@weirdan I'm getting issues where comparing `class-string<Exception>` to `class-string<Exception>` goes a bit screwy. Will upload an example in a short while.

[2019-01-27 14:02] SignpostMarv commented on #7
okay, when writing the example code from scratch I'm getting redundant conditions flagged up as expected, although now I'm getting an issue that I'm not 100% sure if it's an issue; `LessSpecificReturnStatement` and `MoreSpecificReturnType`.

Closing this and opening issue on psalm repo :D

[2019-01-27 14:02] #7 closed

[2019-01-27 14:34] SignpostMarv commented on #5
sub-packages ?
conditionals based on composer.lock ?
aliasing ?

I would imagine aliasing would be cheapest but most complex long-term; i.e. `TestCase::assertIsString(mixed $maybe)` maps directly to `TestCase::assertInternalType('string', mixed $maybe)`

[2019-01-27 14:59] weirdan commented on #5
`composer.lock` checks are probably easiest to implement. Something along the lines of:
[code]

If psalm is installed globally it will fetch global phpunit version.

[2019-01-29 02:07] weirdan commented on #5
To provide more concrete example: https://github.com/weirdan/doctrine-psalm-plugin/blob/b5d7d1467ec61a1c6b72669dbb304f161e910326/tests/_support/Helper/Psalm.php#L72-L82

[code]

Same should be possible for any locally installed package.

[2019-02-01 21:30] weirdan opened #8 "Idea: testing infrastructure"
I've been using Gherkin tests for some time on `weirdan/doctrine-psalm-plugin` and I find it extremely helpful so far. @muglug , would you think `phpunit-psalm-plugin` could benefit from it as well? I'm willing to contribute it.

* [Sample tests](https://github.com/weirdan/doctrine-psalm-plugin/blob/d7fa773aad0c5fd698ce5aa5841a7711e144e645/tests/acceptance/Collections.feature#L554)
* [Sample travi

[2019-02-11 03:26] #8 closed

[2019-02-11 07:24] #5 closed

[2019-02-15 22:15] SignpostMarv opened #13 "query: re code coverage support"
Is it feasible for this plugin to parse phpunit coverage files to prevent `PossiblyUnusedMethod` when calling `psalm --find-dead-code` from being flagged up if the method is present as being covered in the coverage file?

[2019-02-15 23:54] weirdan commented on #13
Are you referring to methods in test case classes?

[2019-02-16 12:17] SignpostMarv commented on #13
[pretty much- it's quite common that I'll see data providers & test cases pop up](https://github.com/SignpostMarv/sprintf-exception-factory/commit/b914ebd19de6cfa3baf994c04c7b5ddd9258340a#diff-db03589574d7c5d074966c97658929d9), although it'll also crop up for fixtures & utility classes that're implemented specifically for testing.

I'm specifically suggesting using coverage because a test method c

[2019-02-16 14:28] weirdan commented on #13
Yep, that was my idea (as well as automatically suppressing `MissingConstructor`). The problem with using coverage data, as I see it, is that it's almost always stale. I tend to only ever run phpunit with coverage enabled on travis, and then only for a single environment, as it's extremely slow.

[2019-02-16 14:36] SignpostMarv commented on #13
compare filemod time of baseline to filemod time of coverage file, w/ psalm.xml config option for overriding freshness ?

[2019-02-16 14:41] weirdan commented on #13
Well, that looks feasible. But then, it sounds pretty generic, so why limit it to tests only? Could be a plugin of its own.

[2019-02-16 14:41] SignpostMarv commented on #13
separate baseline & config files for the environment that runs phpunit ?

[2019-02-16 14:44] SignpostMarv commented on #13
it depends on if you view this plugin as "stubs out phpunit only" or "makes psalm work nicely with phpunit".

[2019-02-16 14:48] SignpostMarv commented on #13
i.e. "psalm thinks this method isn't called but psalm/plugin-phpunit knows better"

[2019-02-16 14:53] SignpostMarv commented on #13
ah, I get what you mean now- it's more than just phpunit generates coverage files :P

[2019-02-16 15:07] weirdan commented on #13
Not just that. It may be used to clean up some false-positives from the system-under-test code as well. In fact, it may actually be only useful to do that, as test code is likely to be *excluded* from code coverage (with `xdebug_set_filter` or otherwise by PHPUnit itself). I know it's the case for psalm code coverage runs.

[2019-02-16 18:38] SignpostMarv commented on #13
I'm insufficiently familiar with how code coverage works to create such a plugin from scratch :s

[2019-02-17 06:56] weirdan commented on #13
Implemented that in #14

[2019-02-17 11:04] weirdan commented on #13
@SignpostMarv can you provide isolated, short and concise test showing false-positive `*UnusedMethod`? Ideally something I can add in a Gherkin test like here: https://github.com/psalm/phpunit-psalm-plugin/blob/master/tests/acceptance/TestCase.feature

[2019-02-17 18:25] SignpostMarv commented on #13
@weirdan smallest testcase: https://github.com/SignpostMarv/psalm-phpunit-psalm-plugin

fails with

[2019-02-20 18:44] SignpostMarv commented on #13
@weirdan the fork takes care of the [simple test case](https://github.com/SignpostMarv/psalm-phpunit-psalm-plugin/commit/94734d67aec3528ad846d592adc4fc1737f20b81)- i'm just working over the daft-object fork & master branch to identify how many of these errors are resolved but it's looking good thus far :)

[2019-02-20 19:53] SignpostMarv commented on #13
@weirdan ran into an issue that doesn't occur with master branch code: https://github.com/SignpostMarv/daft-object/commit/3732d8ed12d1202ca6d259c4b1e5d49ec67eaf21

[2019-02-23 18:28] weirdan opened #16 "MissingConstructor on TestCase grandchild"
[code]
**Actual**: MissingConstructor is reported on MyTestCase

[2019-02-26 06:30] Ne-Lexa opened #18 "Added PHPUnit 8.0"
Please add support for phpunit 8.

[2019-02-26 06:30] #18 closed

[2019-02-27 13:37] #16 closed

[2019-02-27 14:59] weirdan opened #19 "Descendant of a class with initializers should produce no MissingConstructor"
[code]
**Actual**:

Type | Message
-----|--------
MissingConstructor | NS\MyTestCase has an uninitialized variable $this->i, but no constructor

[2019-02-27 17:20] #19 closed

[2019-03-01 18:27] weirdan opened #21 "Trait analysis"
Currently the plugin does not validate test methods and providers in traits, that are used in test cases.

**Example**:
[code]
**Actual**: no issues reported

[2019-03-01 18:53] #21 closed

[2019-03-02 12:26] SignpostMarv opened #23 "issue re: array-shaped generators passed to test methods that accept a final mixed variadic"
0.5.1 is reporting `TooFewArguments` in [daft-nested-object](https://github.com/SignpostMarv/daft-nested-object/blob/652f45a1d4ba924f2600b6134140cf7a1d609fa4/psalm.baseline.xml#L22), likely in reference to not being able to shove a variadic into an array shape on the [Generator](https://github.com/SignpostMarv/daft-nested-object/blob/652f45a1d4ba924f2600b6134140cf7a1d609fa4/Tests/NestedTreeTest.ph

[2019-03-02 15:02] weirdan commented on #23
TooFewArguments reproduced with
[code]

[2019-03-02 19:45] weirdan commented on #23
Variadics fixed in #24

[2019-03-02 19:45] #23 closed

[2019-03-02 19:48] weirdan commented on #23
Released in 0.5.2

[2019-03-06 14:49] SignpostMarv opened #25 "Fails when test method default values are given as consts"
Just wondering what the best approach is to using default arguments on a test method & documenting the return type with a data provider, as I'm currently getting `TooFewArguments .... expecting at least 3, but saw 2 provided by .... ::dataprovider_markuparraytomarkupstring():(array<int, array{0:string, 1:array<array-key, mixed>}>)`, where the test method is something like:

[code]

and the data pr

[2019-03-06 17:53] weirdan commented on #25
It is supposed to work just like that, see these tests: https://github.com/psalm/phpunit-psalm-plugin/blob/e33ae73dc725acdf361645625667c65aa88731ee/tests/acceptance/TestCase.feature#L585-L652

If it doesn't, it's a bug.

With that said, your original approach with defaults is also supposed to work (and does, when defaults are specified as literal values). However there appears to be a problem when

[2019-03-06 18:15] SignpostMarv commented on #25
I'll hopefully give it a check tomorrow (is dayjob stuff)

[2019-03-06 18:20] weirdan commented on #25
I have a fix for const issue already working locally. Barring any possible compatibility issues, you'll be able to test it by then.

[2019-03-06 19:38] SignpostMarv opened #27 "fatal error with dataProvider that has no explicit return type"
don't have the repro on me at the moment (dayjob thing), but I forgot to add `: array` onto one of my data providers earlier today & got a fatal error somewhere around here: https://github.com/psalm/phpunit-psalm-plugin/blob/e33ae73dc725acdf361645625667c65aa88731ee/hooks/TestCaseHandler.php#L180

[2019-03-06 19:40] weirdan commented on #25
Fixed in #26

[2019-03-06 19:40] #25 closed

[2019-03-06 19:46] weirdan commented on #27
Reproduced with
[code]

[2019-03-06 21:06] #27 closed

[2019-03-18 01:29] SignpostMarv commented on #13
practical example of code that could use coverage support regarding "unused methods": https://github.com/SignpostMarv/Daft-Schema.org

The manually created test cases were getting cumbersome to write, so I had a generator generate test cases for me. The [coverage](https://scrutinizer-ci.com/g/SignpostMarv/Daft-Schema.org/code-structure/master/code-coverage/src/) shows that all the setters & getter

[2019-03-18 02:40] weirdan commented on #13
I still think this would be better done as a separate plugin. You would need to hook into, say, [AfterCodebasePopulated](https://github.com/vimeo/psalm/blob/master/src/Psalm/Plugin/Hook/AfterCodebasePopulatedInterface.php), read the coverage xml file and then mark methods as used with [methodExists()](https://github.com/psalm/phpunit-psalm-plugin/blob/master/hooks/TestCaseHandler.php#L165-L167) ca

[2019-04-17 03:46] muglug opened #29 "Work properly in multithreaded mode"
With latest Psalm master one can just do

[code]

to reliably register a method as having been used, but looks like that doesn't work elsewhere

[2019-04-17 22:29] weirdan commented on #29
I'm not sure, do you suggest to register all methods as used from unknown/hardcoded location? Wouldn't that render `--find-references-to` useless for those methods?

[2019-04-22 17:07] jaydiablo opened #30 "class_alias business causing fatal error"
This is sort of similar to the issue I ran into with the Mockery plugin (https://github.com/vimeo/psalm/issues/1537) in that a `class_alias` is being used to conditionally alias one class to another. In this case, it's Zend Framework's `zend-test` that's doing it:

https://github.com/zendframework/zend-test/blob/master/autoload/phpunit-class-aliases.php#L15

[code]

That second if condition is cau

[2019-04-22 17:28] jaydiablo commented on #30
By adding this stub to this plugin's `TestCase.php` stub file:

[code]

(and wrapping the other stubs in that file in a namespace wrapper rather than global to the file) I can make the fatal error go away, but Psalm still reports this error on any classes that extend Zend's test classes (which ultimately extend `PHPUnit\Framework\TestCase`):

I'll continue to poke around a bit.

[2019-04-27 20:13] muglug commented on #29
Yeah, it would render it useless for `PHPUnit\Framework\TestSuite::run`, but I don't imagine anyone would be too bothered.

[2019-04-27 20:15] #29 closed

[2019-04-27 20:56] weirdan commented on #29
Ah, so you were talking about `test*` methods.

[2019-06-15 11:46] SignpostMarv opened #32 "fatal error w/ assert"
using:
* psalm/phpunit-psalm-plugin@93b6617829a973b26a6c7a5ddda2530434d6a78f
* vimeo/psalm@d1630863ad64e6beb915ac255c41c744b56f3b4a

https://github.com/SignpostMarv/daft-markup/blob/02448009310e961520e5a50beadd8fc8b97c64be/Tests/ValidatorTest.php#L297
[code]

https://github.com/SignpostMarv/daft-markup/blob/02448009310e961520e5a50beadd8fc8b97c64be/src/MarkupValidator.php#L125
[code]

[2019-06-30 01:40] weirdan commented on #32
@SignpostMarv can you provide a failing scenario, ideally as a Gherkin test ([see here](https://github.com/psalm/phpunit-psalm-plugin/blob/645be844dcdf323efdd42a90c7cd16dbf96cc0cb/tests/acceptance/TestCase.feature#L968))? Your code can be a little overwhelming at times.

[2019-07-10 15:06] souravchandra opened #36 "Unknown psalm annotation should report an issue"
If we use not supported / unknown psalm annotation, for example instead of `@psalm-suppress` by mistake we use `@psalm-ignore` which is not a valid existing annotation, psalm should report that as an issue rather than throwing exception. Because of exception it is checking whole codebase instead of the files changed in the branch and throws other random errors
[code]

[2019-07-10 21:04] #36 closed

[2019-07-10 22:29] weirdan commented on #36
Fix released in [0.7.0](https://github.com/psalm/phpunit-psalm-plugin/releases/tag/0.7.0)

[2019-11-13 16:53] Luxian opened #38 "Support for inline data providers declaration"
I'm getting `UndefinedMethod` and `PossiblyUnusedMethod` false positives when I declare my data providers like this:

[code]
Because the parser adds an extra space a the end of the method name.
This can be fixed by changing the [following line](https://github.com/psalm/phpunit-psalm-plugin/blob/69aaf6be9f3edecf0158d08dc073f9867e890387/hooks/TestCaseHandler.php#L146):
[code]
But this doesn't fix th

[2019-11-17 04:02] weirdan commented on #38
There are issues with tests, some of them are fixed in #39 .

[2019-11-27 15:49] #38 closed

[2019-12-17 09:59] SignpostMarv opened #41 "issue w/ TList being unexpected"
https://github.com/psalm/phpunit-psalm-plugin/blob/1dcd8ff7719b78b858d7560dd2d912a55272bfbc/hooks/TestCaseHandler.php#L380

`TestCaseHander::unionizeIterables()` seems to choke on `Psalm\Type\Atomic\TList`

presently at the dayjob, ~going to try and PR from the web interface.~ had to make two attempts to get a nice diff in the web interface: #42

[2019-12-17 13:11] weirdan commented on #41
Fixed in #42

[2019-12-17 13:11] #41 closed

[2020-01-04 02:38] erunion opened #43 "Should we deprecate this package?"
Since PHPUnit has Psalm annotations now, should we deprecate this package for future versions of PHPUnit?

[2020-01-04 02:49] weirdan commented on #43
It allows typechecking data providers, which can't be done with annotations alone.

[2020-01-04 03:16] erunion commented on #43
Oh good point!

[2020-01-04 03:16] #43 closed

[2020-01-09 10:22] localheinz opened #44 "Support for external data providers"
Data providers can be specified like this:

[code]

However, `psalm/phpunit-psalm-plugin` complains with

[code]

Is there a chance this can be supported as well?

For a concrete example, see https://github.com/ergebnis/license/pull/23.

[2020-01-10 00:31] #44 closed

[2020-01-10 00:43] weirdan commented on #44
Released in [0.8.1](https://github.com/psalm/phpunit-psalm-plugin/releases/tag/0.8.1).

[2020-01-12 12:32] SignpostMarv opened #48 "request: suppress MissingThrowsDocblock when preceding code invokes `TestCase::expectException`"
`MissingThrowsDocblock<T>` currently bubbles up when preceding code invokes `TestCase::expectException(T::class)`

I'm reasonably certain phpunit doesn't let `InvalidArgumentException` bubble up if I'm calling `static::expectException(InvalidArgumentException::class)`

[2020-01-12 23:31] weirdan commented on #48
Do you have a test case for this?

[2020-01-13 09:26] SignpostMarv commented on #48
not a proper one at the moment (presently at the dayjob, will see if I can dig one out), but it's something like this:

first, configure psalm to require `@throws`, then:
[code]

[2020-01-13 11:33] SignpostMarv commented on #48
[code]

[2020-01-13 16:18] SignpostMarv opened #49 "calling assertInstanceOf on a property set in TestCase::setUp() should result in RedundantCondition"
* if `TestCase::$foo` is `T|null`
* and `TestCase::setUp()` sets `TestCase::$foo` to `T`
* and nothing else modifies `TestCase::$foo`
* then `TestCase::assertInstanceOf(T::class, $this->foo)` is redundant

not quite sure on the exact error/test case that should occur, but this is a vague mashup of what I'm thinking:

[code]

[2020-01-13 17:57] weirdan commented on #49
I think `setUp()` method analyzer has to be run with `$scope->collect_initializations = true` and it'll fix the issue automatically.

[2020-01-13 18:03] SignpostMarv commented on #49
where would I poke around to have that kick in ?

[2020-01-27 15:21] SignpostMarv commented on #48
possibly related: https://youtrack.jetbrains.com/issue/WI-39461

[2020-02-02 22:36] muglug opened #51 "Debug --diff --diff-methods creates false-positives"
On Psalm latest

[code]

Expected: No issues
Actual: A whole bunch of `PossiblyUnusedMethod` issues that would normally be covered by the PHPUnit plugin

This is probably a bug in Psalm, rather than the plugin, but storing here because it affects the plugin.

[2020-02-07 13:12] SignpostMarv opened #53 "consider dropping support for phpunit < 8 in a major release"
as per failures on: https://travis-ci.org/psalm/phpunit-psalm-plugin/jobs/647313805?utm_medium=notification&utm_source=github_status

[2020-02-24 10:26] jguittard opened #55 "TestCaseHandler upstream bug"
When leveraging Psalm plugin, there is a weird case where upstream crashes.

See context : https://travis-ci.org/Roave/psr-container-doctrine/jobs/654211817

[2020-02-24 10:41] weirdan commented on #55
Fixed in 496c08f088d9e34e1947bca1de52b32b6571bad3 (released as [0.9.0](https://github.com/psalm/phpunit-psalm-plugin/releases/tag/0.9.0)).

[2020-02-24 10:41] #55 closed

[2020-03-09 13:29] karser opened #56 "Uncaught Exception: Could not locate trait statement"
It is unable to find `Symfony\Component\Validator\Test\ForwardCompatTestTrait`

[code]
Versions
[code]

[2020-03-09 17:55] weirdan commented on #56
Do you have a link to public repo that I can clone and reproduce the issue?
Does Psalm crash with the phpunit plugin disabled on that same codebase?

If that ForwardCompatTrait  is anything like this: https://github.com/captainAldi/drupal-vue/blob/ae10e87dbe181a30751e0e6317b2f137e589118d/vendor/symfony/validator/Test/ForwardCompatTestTrait.php (horrible conditional eval abomination) it won't be ea

[2020-03-09 19:24] karser commented on #56
No, it's private, unfortunately. I can try a PR against this codebase or change something in hooks/TestCaseHandler.php(114) if you suggest so.

I disabled PhpUnitPlugin and the crash has gone

That's correct, this file https://github.com/symfony/symfony/blob/4.4/src/Symfony/Component/Validator/Test/ForwardCompatTestTrait.php

I started getting this crash after I updated from v3.8 to 3.9.4.

[2020-03-10 04:58] weirdan commented on #56
@karser there's fresh new Psalm release (3.9.5) that might have fixed this issue.

[2020-03-10 09:43] karser commented on #56
It is fixed, thank you!

[2020-03-10 09:43] #56 closed

[2020-03-29 04:10] weirdan opened #57 "External data provider reported missing when running psalm on a single test file"
Reported in https://github.com/vimeo/psalm/issues/2191#issuecomment-605544193
To reproduce:
1. Reference external data provider
2. Run psalm on the individual test file

/cc: @localheinz

[2020-03-30 10:43] #57 closed

[2020-03-30 15:59] localheinz commented on #57
Thank you, @weirdan!

Can confirm that this works now for me!

[2020-04-03 21:27] weirdan opened #62 "Travis build status is not reported"
@muglug it seems Travis stopped reporting build status to github some time ago, even though the builds are actually performed. I don't have sufficient permissions on this repo to investigate - can you check if there's anything wrong with Travis integration?

[2020-04-05 05:11] muglug commented on #62
It seemed to have forgotten about me – seems to be working now

[2020-04-05 22:43] weirdan commented on #62
Can confirm it's working now.

[2020-04-05 22:43] #62 closed

[2020-05-02 12:26] greg0ire opened #68 "Missing XML output when using this plugin"
Found that issue while working on https://github.com/doctrine/sql-formatter/pull/51#issuecomment-622945764

With the plugin loaded in `psalm.xml`:

[code]

Without:

[code]

Why is there no checkstyle output in the former?

[2020-05-02 23:01] weirdan commented on #68
I can't seem to be able to reproduce this. E.g. in Psalm repo which itself uses this plugin:
[code]

[2020-05-03 06:42] greg0ire commented on #68
Oh wow that's weird… here is a reproducer:

[code]

[2020-05-03 07:22] weirdan commented on #68
Turns out it's not a problem with the plugin. On the contrary, plugin is doing its job pretty well, and eliminates all issues. Psalm only calls `getOutput()` [[1]][call] if there are some issues to report [[2]][condition]. So that's a problem with Psalm that went long unnoticed (after all, there's very few projects that Psalm finds no issues in).

[call]: https://github.com/vimeo/psalm/blob/d99fbc

[2020-05-03 07:32] #68 closed

[2020-05-03 17:00] JoshuaBehrens opened #69 "InvocationMocker::method has been marked as internal"
I am unsure whether this is right here. I am using psalm, phpunit and this plugin together. `PHPUnit\Framework\MockObject\Builder\InvocationMocker` is marked as internal but it is the way to mock objects. So when I combine them I have to start mocking everything manually?

[2020-05-04 01:36] weirdan commented on #69
Hey @JoshuaBehrens, can you provide the failing test case?

[2020-05-04 01:46] JoshuaBehrens commented on #69
Yeah sure I can provide a sample:

[code]

Results in:
[code]

I currently by-pass it with whitelisting these in my psalm.xml like this:

[code]

As you can see the phpunit plugin is enabled and psalm-plugin sees it the same:
[code]

Do you need any more info?

[2020-05-04 02:43] weirdan commented on #69
No, that should be enough.

[2020-05-24 18:19] mr-feek opened #72 "[Prophecy][False Positive] Argument::that problems"
The callable passed to `Argument::that` is allowed to have parameters I believe. If I delete the stub entirely, my test passes however then we lose the benefit of the `bool` typehint.

How do we inform  psalm that any # of mixed params can be parameters of the callable?

[2020-05-24 18:27] mr-feek commented on #72
here's a test case and  proposed fix  https://psalm.dev/r/94f518d6c4

[2020-05-24 20:30] #72 closed

[2020-06-15 17:32] vladyslavstartsev opened #76 "why `packageVersionIs` method exists?"
I have not found usages of this `private` method
https://github.com/psalm/psalm-plugin-phpunit/blob/83b5c107a8902c6c7f0b4467685eac16b3f932b4/src/Plugin.php#L28-L38

May be it needs to be deleted?
Also if deleting this, also delete `composer/semver` dependency `composer remove composer/semver` because it's used only there

[2020-06-15 18:30] weirdan commented on #76
It used to be used to check for PHPUnit version. Semver, though, is used in tests, so it cannot be removed, but should instead be demoted to dev dependency.

[2020-06-15 18:31] weirdan commented on #76
PRs are welcome ;)

[2020-06-16 09:21] gianiaz opened #77 "Skip analysis on skipped test?"
What do you think about skipping analysys for skipped test? (or marked as incomplete?)

[2020-06-16 21:47] matiux opened #78 "Data provider return type"
I have a phpunit test with data provider but I can't understand how to fix this errors:

`MismatchingDocblockReturnType` **1**

`MixedInferredReturnType` **2**

`PossiblyInvalidArgument` **3**

[code]

[2020-06-16 22:44] weirdan commented on #78
This should do (although you may want to provide more detailed type for `$payload` in both places):
[code]

Providers return iterables of argument tuples, each of those tuples are going to be used as arguments to the test referencing the provider. So the plugin checks that the types of those are compatible.

[2020-06-19 15:02] matiux commented on #78
@weirdan I have solved with

[code]

[2020-06-19 15:54] #78 closed

[2020-06-20 18:21] #76 closed

[2020-07-02 11:26] micheh commented on #69
This should be fixed in the next release of PHPUnit (8.5.9).

https://github.com/sebastianbergmann/phpunit/pull/4310

[2020-07-26 19:03] marceloaas opened #80 "MissingDependency in phpunit dependencies"
The following error occours:

[code]

The components from error
[code]
Psalm.xml config

[code]

### Info
- Psalm version: `Psalm 3.12.2@7c7ebd068f8acaba211d4a2c707c4ba90874fa26`
- PHPUnit version: `"phpunit/phpunit": "^9.1.4"`
- PHPUnit plugin psalm: `"psalm/plugin-phpunit": "^0.10.1"`

[2020-07-26 19:18] weirdan commented on #80
Does it happen if you downgrade `nikic/php-parser` to 4.6?

[2020-07-27 11:27] marceloaas commented on #80
@weirdan

after downgrade/update, checked:

- `nikic/php-parser: 4.4` - works fine
- `nikic/php-parser: 4.6` - works fine
- `nikic/php-parser: 4.7` - The problem related in this thread

[2020-07-27 11:36] marceloaas commented on #80
The following related issues:

- https://github.com/nikic/PHP-Parser/issues/690
- https://github.com/nikic/PHP-Parser/pull/672#issuecomment-659343331

[2020-08-05 00:14] ktomk commented on #53
@SignpostMarv: If you don't mind can you check the link in you report? I don't get anything useful when I open it.

And per the title, did you mean "new" major release? In any case, I had problems to find out wich Phpunit version are to be supported by the plugin and also wondered if it may even there is a requirement of having different plugins per Phpunit version. So far I'm fine to not drop 7.5

[2020-08-05 00:18] ktomk commented on #51
I've seen things not working well (e.g. missing negatives) when not invoking with `--no-cache` when changing php versions / configuration / setup  / switching revisions and all the like. Just saying as from my current understanding each psalm invocation should be with `--no-cache` to eliminate (unwanted) side-effects, especially with bug/issue reporting.

[2020-08-05 00:21] ktomk commented on #49
Depending on the visibility of `TestCase::$foo` (e.g. not private), this would be runtime behavior. Just saying. Psalm would not be able to detect it unchanged. Even if private PHP has reflection, so again, runtime behavior.

[2020-08-07 15:11] SignpostMarv commented on #53
have updated the link.

as for "new", yeah- you wouldn't want to drop support for a phpunit version in a minor/patch release.

[2020-08-10 14:38] bapcltd-marv commented on #49
have emailed GitHub re the rather unpleasant commit ref spam caused by rebasing- it should be resolved by an interface change in GitHub "approximately 1-2 quarters from now."

[2020-08-13 13:57] #80 closed

[2020-08-30 16:06] muglug opened #86 "Remove template-typeof"
As part of the upcoming changes in Psalm 4.x I'm removing support for `@template-typeof`: https://github.com/vimeo/psalm/issues/1732

[2020-08-30 16:13] #86 closed

[2020-09-28 11:13] Wirone opened #89 "How to use plugin along with Symfony's PHPUnit bridge?"
Since [Symfony PHPUnit bridge](https://symfony.com/doc/current/components/phpunit_bridge.html) installs PHPUnit in separate directory (not with other vendors) after installing Psalm's PHPUnit plugin I have 2 different versions of PHPUnit installed in the project (and my tests fail, which is different story..).

I would like Psalm to use already installed PHPUnit, with just proper configuration / b

[2020-10-05 02:21] leighman opened #90 "False `DeprecatedMethod` positives for `expects`"
Not sure if this is a psalm issue but thought I'd come here to clarify how stubs work.
Using PHPUnit 7 which has
[code]
in `MockObject`.
This doesn't seem to appear in the stub but no error in IDE (possibly because psalm warning level is not high enough?)

When calling `createMock(MyClass::class)` and deprecating `__call` on `MyClass`, I get errors about `DeprecatedMethod` for uses of `expects`.
I

[2020-10-15 16:10] Ocramius opened #92 "`MissingConstructor` issues detected when explicitly specifying a test code analysis path"
While working on a project that uses very strict psalm settings and this plugin, we discovered that running `vendor/bin/psalm` with following configuration and **no arguments**, no issues are reported:

[code]

If I run `vendor/bin/psalm tests`, the output changes, and starts reporting stuff that is generally silenced by this plugin (the following, but for every test):

[code]

Interestingly, no o

[2020-10-17 13:17] weirdan commented on #92
It seems it's much easier than that - Psalm just doesn't trigger `afterCodebasePopulated` in this use case.
@muglug, should it do that?

[2020-10-26 19:12] Ocramius commented on #92
@weirdan is there a code reference? Perhaps somebody can send a patch, after having this knowledge...

[2020-10-29 06:51] simPod opened #93 "Returning Generator from data provider"
According to PHPUnit docs:

I'm returning Generator

[code]

plugin complains that

I'd expect no error for this.

[2020-10-29 06:58] simPod commented on #93
Ok, I got it, the key must be array-key

[2020-10-29 06:58] #93 closed

[2020-12-01 11:10] VincentLanglet commented on #89
The phpstan phpunit plugin does not require phpunit.
https://github.com/phpstan/phpstan-phpunit/blob/master/composer.json

I personally use it without phpunit by adding the following config.
[code]

IMHO @weirdan @muglug, the `Phpunit` dependency should be removed from this plugin because we can provide it from somewhere else. When using the Symfony phpunit bridge, something like this could work:

[2020-12-07 08:52] enumag commented on #89
Possibly relevant: https://github.com/symfony/symfony/issues/36202

[2020-12-07 09:11] VincentLanglet commented on #89
I just read this and it seem that
- Requiring `phpunit/phpunit` is not recommended
- https://github.com/symfony/symfony/issues/36202#issuecomment-643751206 is the recommended approach in PHPStan (so I think that `extraFiles` should be the recommended way too with psalm)

[2020-12-08 09:04] theofidry opened #102 "Uncaught Exception"
Whilst running Psalm with the PHPUnit plugin on my project, at some point I caused it to break hard although I'm not sure from what exactly:

Full stack trace:

[code]

PHPUnit 9.4.4 & Psalm 4.3.1

[2020-12-09 10:32] desmax commented on #89
with new version 0.14 tried to add
[code]
but no luck

[2020-12-09 11:57] VincentLanglet commented on #89
Hi, it worked fine for me.

Which command are you running ? Which version of psalm do you use ? @desmax

[2020-12-09 12:11] desmax commented on #89
@VincentLanglet
[code]

my full config is
[code]

and I still get this
[code]

[2020-12-09 12:27] desmax commented on #89
@VincentLanglet what if you run `vendor/bin/psalm --clear-cache`, will it still work for you?

the problem is  here Psalm\PhpUnitPlugin\Plugin
[code]
I don't  see how this will work, since it checks only versions installed via composer

[2020-12-09 13:53] VincentLanglet commented on #89
@desmax Whoah, I made a stupid mistake, the plugin was removed from my config

What does work:
- Thanks to the extraFiles section, I have no `missingDependencies` reported.

What does not work:
- Loading this plugin

I got the same error than you, but I think it's possible to fix it ; in
https://github.com/psalm/psalm-plugin-phpunit/blob/master/src/VersionUtils.php
We should change
[code]
into
[co

[2020-12-09 14:00] ondrejmirtes commented on #89
Psalm's `extraFiles` are PHPStan's `scanFiles` https://phpstan.org/user-guide/discovering-symbols#third-party-code-outside-of-composer-dependencies, Psalm has no `bootstrap` option AFAIK.

[2020-12-09 14:10] VincentLanglet commented on #89
Oh ! Thanks, by looking for a `boostrap` option I found
https://github.com/vimeo/psalm/issues/2037

So the right way is to use
[code]

[2020-12-09 14:16] VincentLanglet commented on #89
@desmax Can you confirm that this work with
https://github.com/psalm/psalm-plugin-phpunit/pull/103

and by using
[code]
instead of extraFiles ?

[2020-12-09 14:35] desmax commented on #89
@VincentLanglet it does work, it  also works fine without autoloader config, only with #103 changes

[2020-12-10 00:47] muglug commented on #89
Ok, closing — thanks all!

[2020-12-10 00:47] #89 closed

[2020-12-10 21:53] theofidry commented on #102
Additional info:

<img width="459" alt="Screen Shot 2020-12-10 at 22 50 34" src="https://user-images.githubusercontent.com/5175937/101834091-29c74800-3b3a-11eb-83ba-62e3990c1f2d.png">

The offending code:

[code]

(I only changed the names, the types are as is).

Psalm config:

[code]

[2020-12-10 21:59] weirdan commented on #102
Does adding a type (and removing the suppression) fix the issue?

[2020-12-10 22:01] theofidry commented on #102
Yep

[2020-12-10 22:15] weirdan commented on #102
@theofidry can you also provide an example of your data provider?

[2020-12-10 22:26] theofidry commented on #102
Managed to get a reproducer:

[code]

[2020-12-10 22:30] weirdan commented on #102
Ok, reproduced. The crash doesn't happen when you specify the return type as `iterable<string, array<int,mixed>>`, so you can use that as a workaround for the time being.

[2020-12-10 22:51] #102 closed

[2020-12-10 22:56] weirdan commented on #102
Fixed in [0.15.0](https://github.com/psalm/psalm-plugin-phpunit/releases/tag/0.15.0).

[2020-12-11 09:34] theofidry commented on #102
Works like a charm, thanks!

[2021-01-22 20:40] theofidry opened #105 "Obscure errors thrown"
I had a provider with this signature:

[code]

which although is not recommended is not incorrect either. The result was:

[code]

I think there is two issues here:
- the above should not result in a crash
- I can see 3 RuntimeException thrown in `TestCaseHandler` which a simple message: "Unexpected: union has no way to get it constituent types", "should be iterable", "unexpected type": IMO it's n

[2021-01-22 21:20] weirdan commented on #105
Does PHPUnit allow returning null from a data provider?

[2021-01-22 22:32] weirdan commented on #105
Sure. However that was something unexpected - thus the exception.

Exceptions are not user-friendly by definition. Generally you just copy/paste the exception trace into an issue and authors can take it from there.

As to why you didn't get the trace, though... it's interesting. Dumping exception trace for unhandled exception is the default PHP behavior, so something must be overriding that. It's

[2021-01-22 23:51] theofidry commented on #105
I get a semblance of a trace I just putted the first line, the problem IMO is that you get an error and don't know what causes the failure which makes it harder to report

[2021-01-22 23:53] theofidry commented on #105
No idea to be honest... It was an incorrect signature but it was not returning null ever

[2021-01-23 00:20] weirdan commented on #105
Please try with `dev-master` - I've just merged the change that should fix the issue.

[2021-01-23 14:44] theofidry commented on #105
In the scenario above it would not fail anymore, but if you have a non-iterable signature it will still fail right?

Yes, but at the same time providing more information both helps:

- knowing where the issue is for a temporary workaround if necessary
- reporting the issue with a reproducer

For example if in the failure above I would have had something like `unexpected PHPUnit data provider retur

[2021-01-23 16:52] weirdan commented on #105
No. There's a check before the call to `unionizeIterables()` that reports non-iterable return type and skips to the next data provider. It's that skip that was incorrect (`continue` vs `continue 2`).

[2021-01-23 21:09] theofidry commented on #105
Ha I see, LGTM then! Thanks for the quick fix :)

[2021-01-23 21:36] weirdan commented on #105
Fix released in [0.15.1](https://github.com/psalm/psalm-plugin-phpunit/releases/tag/0.15.1).

[2021-01-23 21:36] #105 closed

[2021-02-03 08:55] asgrim commented on #30
Maybe more information, hopefully: I also noticed this on a project that uses `symfony/phpunit-bridge` (which has a `class_alias` as described above), but only in certain circumstances:

[code]

 * running Psalm on CLI with `<directory name="tests" />` included, I get the error
 * running Psalm on CLI with `<directory name="tests" />` **removed**, the error goes away
 * PhpStorm runs Psalm in the

[2021-02-23 20:23] morozov opened #107 "PHPUnit setup methods should be treated equally to constructors"
PHPUnit executes `setUp()` and other `@before` methods on each test run, so with regards to the test (`test*()` and `@test`) methods they behave more or less like a constructor.

When analyzing test classes, Psalm and the PHPUnit plugin report the properties initialized in setup methods as not initialized in constructor.

[code]

[code]
[code]
While it's technically true, it's irrelevant for the t

[2021-02-23 20:40] weirdan commented on #107
An easy, albeit not 100% correct approach could be to suppress `PropertyNotSetInConstructor` when there's an initializer present (`setUp()` or `@before`).

[2021-02-23 20:45] morozov commented on #107
This is what I'm about to do but you're right, it will suppress other issues than this. E.g. https://github.com/sebastianbergmann/phpunit/issues/4307 which still exists for some other properties like `$backupStaticAttributes` and `$runTestInSeparateProcess` (to be reported to PHPUnit).

[2021-03-31 10:29] vudaltsov opened #108 "Suppress UnusedFunctionCall, UnusedMethodCall when test expects an exception"
Consider this case:

[code]

I am not sure that this is doable or worth the effort, so feel free to close the issue. For now we just suppressed `UnusedFunctionCall` and `UnusedMethodCall` in `psalm.xml` for the whole `tests` directory.

[2021-03-31 12:57] weirdan commented on #108
It's doable (the plugin already suppresses `MissingConstructor`), but I'm wondering whether people would complain about false-negatives :thinking:

[2021-04-10 00:04] IvoPereira commented on #30
I have also faced a similar issue (and stacktrace), in my case while running this with Yii2 framework for the record, while running the psalm init command:
[code]

However, by creating a manual psalm.xml [like instructed in the website](https://psalm.dev/docs/running_psalm/configuration/), and specifying psalm to ignore the tests folder (like @asgrim points out) helped me to move on with this issu

[2021-05-22 13:33] VincentLanglet commented on #107
Would it be possible to introduce something like an annotation to tell psalm `setup` works like a `__construct` method ?

[2021-07-10 07:57] remorhaz opened #113 "Erroneous TooFewArguments on combination of data provider and dependent test"
In my case, test case class has the following structure:

[code]
In this case, `testSecond()` method gets `$foo = 'foo'` and `$bar = 'bar'` arguments; but Psalm reports TooFewArguments (probably ignoring dependency if data provider is set).

[2021-07-10 09:34] weirdan commented on #113
Currently the plugin have no idea what `@depends` mean.

You may try to suppress it via config file. Didn't test it myself, but I think it might work:
[code]

[2021-07-10 09:36] weirdan commented on #113
Dev notes:

The following is not really clear:

[2021-07-10 09:52] weirdan commented on #113
Yep, the following does work:

[code]

[2021-07-10 16:04] remorhaz commented on #113
This means that if you make `testSecond()` dependent of `testOne()` (like in my example), then `testOne()` cannot use data provider (but `testSecond()` can, as it does in my example).

[2021-07-10 23:41] weirdan commented on #113
I'm curious what would happen if it does?

[2021-07-12 06:52] remorhaz commented on #113
Just as written - it doesn't inject any data from data-provided test, I'm just getting `null` in "dependent" argument (or `TypeError` if it's type-hinted).

[2021-08-21 19:16] VincentLanglet opened #114 "Add support for `assertArrayHasKey` and `assertCount`"
This code is valid https://psalm.dev/r/e1d61bda01

But when I use `assertArrayHasKey` and `assertCount`, the offset are reported as possibly undefined.
It would be great to tell psalm that
[code]

I'm not familiar with, but I'm not sure it can be done with psalm assertion https://psalm.dev/docs/annotating_code/assertion_syntax/

[2021-09-30 13:21] devbanana commented on #107
Also having this issue. Has there been any progress on this?

[2021-09-30 13:47] VincentLanglet commented on #107
As you can see, the issue is still opened. Feel free to work on it if you look for progress ;)

[2021-10-08 09:30] zerkms commented on #114
I'm 99% sure it's impossible to implement with just `@psalm-assertion` (via stubbing) and it would require writing a plugin.

[2021-10-22 14:09] ismailcherri opened #115 "What is the correct way to work with ObjectProphecy"
Hi,
We have a lot of tests in our Symfony project which basically look like this

[code]

But in tests we get error when we try to use `willReturn()` method from Prophecy
[code]

we get:
[code]

Isn't the union type in the annotation states that both classes are valid for this property?

[2021-10-22 15:25] #115 closed, assigned to nobody

[2021-11-20 18:38] cooperaj commented on #115
Mmm, sorry to bring this one back up but I can't get this to work. Adding a `/** @var ObjectProphecy<OtherInterface> $var` to my code just has Psalm tell me that this has already been inferred from the code.
So I figured I'd do `/** @var Mink|ObjectProphecy<Mink> $minkProphecy */` but this results in _MixedAssignment_ and _MixedMethodCall_ errors. I guess this makes sense but it still gets me no c

[2021-11-21 00:46] weirdan commented on #115
@cooperaj what does your test look like? Most likely you don't need to annotate your variables at all.

[2022-01-31 22:43] VincentLanglet commented on #114
@orklah maybe it's a good opportunity for some new features about `@psalm-assertion` wdyt ?

[2022-02-01 22:27] orklah commented on #114
What I said above is partially true. I just learned that internal assertions are not available automatically to docblock assertions.

Given the changes to be made, it's only a small hiccup more, but it's important to note.

[2022-02-11 18:44] AndrolGenhald opened #117 "Incorrect line numbers for provider issues"
The provider docblock line is set [here](https://github.com/psalm/psalm-plugin-phpunit/blob/master/src/Hooks/TestCaseHandler.php#L168), but `$line` is actually the byte offset in the file, not the line number.

[2022-02-25 22:57] VincentLanglet commented on #114
I again encounter issue with assertArrayHasKey.

Phpstan has somehthing like a TypeSpecifier https://github.com/phpstan/phpstan-phpunit/blob/15dc3e0d81b711c38d02fb33fe4482dfa570951c/src/Type/PHPUnit/Assert/AssertTypeSpecifyingExtensionHelper.php

Is there something equivalent in psalm ?

[2022-02-28 16:02] mauriciofauth commented on #92
Psalm also randomly reports some of the `MissingConstructor` when running without arguments, which does not occur when running `vendor/bin/psalm --no-diff`.

[2022-02-28 18:06] orklah commented on #92
This doesn't seem related to this issue or even this repo. Please post a new issue in vimeo/psalm. If you can manage to reproduce on a small repo it would be even better

[2022-03-04 20:06] orklah commented on #114
https://github.com/vimeo/psalm/blob/11e60fa261c682627e6b85300dd6f424b87520b1/src/Psalm/Internal/Analyzer/Statements/Expression/Call/FunctionCallAnalyzer.php#L926

This is the method that handles `assert` calls in the code.

You could use some variation of this in a plugin hooked to assertArrayHasKey and assertCount to have the same effect as if they were simple asserts I guess.

I hoped to find an

[2022-03-05 18:20] VincentLanglet commented on #114
I would really like to add the `assertArrayHasKey` feature to this library, but I understand nothing to this code 🥲

[2022-03-06 09:54] orklah commented on #114
I'm not sure it's even required that you do. I think you could just add this function somewhere in this plugin and call it.

Which means, all it would take is to send the correct value here: https://github.com/vimeo/psalm/blob/11e60fa261c682627e6b85300dd6f424b87520b1/src/Psalm/Internal/Analyzer/Statements/Expression/Call/FunctionCallAnalyzer.php#L929

Those are nodes from PHParser that need to be

[2022-03-18 14:20] Jean85 commented on #117
From what I can see with a rapid `var_dump`, `$provider_docblock_location->raw_line_number` contains already the correct line for the provider method; but there's no reference to include the (eventually present) method dockblock, which that call probably attempts to set.

I would simply suppress that call, since having a totally wrong line number is worst that having a preview of the code snippet

[2022-07-11 09:42] lptn opened #121 "Support Psalm 5.0"
It’s in beta now: https://github.com/vimeo/psalm/releases/tag/5.0.0-beta1

[2022-07-21 10:44] someniatko commented on #121
@orklah I think it's only a problem of `composer.json` definition - this plugin already claims support for `dev-master`, so it's basically the same as claiming support of `^5@beta`.

[2022-07-21 17:01] orklah commented on #121
Seems good. Mind providing a PR to allow 5.0?

[2022-07-29 16:27] #121 closed

[2022-11-06 21:20] VincentLanglet commented on #114
Best would be to be able to support the syntax
[code]

It would also be useful for `webmozart/assert`,
https://github.com/webmozarts/assert/blob/master/src/Assert.php#L1678
because there is no `psalm/assert-plugin` and this could just be solved with phpdoc.

[2022-11-06 21:53] zerkms commented on #114
it would be horrible: it addresses one specific use case by creating a _special case_ that you (as a user) now need to learn and maintain (as psalm developer). And that knowledge would not scale, eg: `@psalm-assert-if-true myfunction($key)` <- what would this mean?

[2022-11-06 22:09] VincentLanglet commented on #114
psalm supports
[code]
the syntax
[code]
could be translated to
[code]
so it would be a generic feature, and not a specific one.

In your example, `@psalm-assert-if-true myfunction($key)`, will be resolved the same way it would be resolved by psalm if you wrote
[code]

[2022-11-06 22:20] zerkms commented on #114
what would it mean type-wise? What assertion would it establish?